<div content-for="title">
	<span>Ingredients</span>
</div>
<div content-for="leftButton">
	<div class="btn-group pull-left">
		<div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
			<i class="fa fa-cog fa-top-navbar"></i>
		</div>
	</div>
</div>
<div content-for="rightButton">
	<div class="btn-group pull-right">
		<div ng-click="toggle('filterSidebar')" class="btn btn-navbar">
			<i class="fa fa-filter fa-top-navbar"></i>
		</div>
	</div>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group">
			<div class="list-group-item media"
			     ng-repeat="item in items | filter:search"
			     item="item"
			     ui-sref="tabs.ingredients.item({id: item.id})">
				<a class="media-left">
					<img ng-src="{{item.image}}" class="list-img small">
				</a>
				<div class="media-body">
					<h4 class="ingredients-heading">{{item.name}}</h4>
				</div>
			</div>
		</div>
	</div>
</div>