.item-buttons {
    position: absolute;
    top: 21px;
    right: 25px;
    z-index: 15;
}

.list-buttons {
    position: absolute;
    top: 23px;
    right: 12px;
    z-index: 15;
}

.item-buttons button:disabled {
    opacity: 1;
}

.overlay .form-group {
    padding: 3px 0;
}