<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<h1 class="title">Tried!</h1>
	</ion-header-bar>
	<ion-content>
		<h3>You've just tried {{item.name}}!</h3>
		<h4>How it was?!</h4>
		<p>Please rate it and leave some comment about it!</p>
		<rating-buttons ng-model="rate"></rating-buttons>
		You'll rate it with {{rate}} stars!
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Comment</span>
				<textarea placeholder="Comment" rows="6"/>
			</label>
		</div>
	</ion-content>
</ion-modal-view>