/* Application wide non-native CSS rules */

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.loading-box {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.loading-box .ion-loading-c {
    font-size: 50px;
}

ion-nav-view {
    background-color: #ffffff;
}

.card-image-wrapper {
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.card-image {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.list-img {
    max-width: 60px;
    max-height: 60px;
}

.list-img.small {
    max-width: 40px;
    max-height: 40px;
}

.media-left,
.media > .pull-left {
    padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.scrollable-content {
    background-color: white;
}

.btn-group.justified .btn.active {
    border-radius: 0;
    color: white;
    background-color: #007aff;
}

.media-body p {
    margin: 0 0 3px;
}

.ingredients-heading {
    margin-top: 10px;
}

.fa-top-navbar {
    font-size: 18px;
}