<div content-for="title">
	<span>{{item.name}}</span>
</div>
<div content-for="leftButton">
	<div class="btn-group pull-left">
		<div ng-click="selectState('tabs.drinks')"
		     class="btn btn-navbar">
			<i class="fa fa-chevron-left fa-top-navbar"></i>
		</div>
	</div>
</div>
<div content-for="rightButton">
</div>
<div class="thumbnail">
	<img class="card-image" ng-src="{{item.image}}">

	<div class="caption">
		<ul class="nav nav-tabs">
			<li>
				<a href="#info" toggle="on" parent-active-class="active">
					<i class="fa fa-info-circle"></i>
					Info
				</a>
			</li>
			<li>
				<a href="#rate" toggle="on" parent-active-class="active">
					<i class="fa fa-star"></i>
					{{item.rate.rate}}
				</a>
			</li>
			<li>
				<a href="#comments" toggle="on" parent-active-class="active">
					<i class="fa fa-comment"></i>
					{{item.comments.length}}
				</a>
			</li>
			<li>
				<a href="#ingredients" toggle="on" parent-active-class="active">
					<i class="fa fa-shopping-cart"></i>
					{{item.ingredients.length}}
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane"
			     toggleable
			     active-class="active"
			     default="active"
			     id="info"
			     exclusion-group="details">
				<p ng-show="item.info.vitamins">Vitamins: {{item.info.vitamins | join:', '}}</p>

				<p ng-show="item.info.kcal">Kcal: {{item.info.kcal}}</p>

				<p ng-show="item.info.density">Density: {{item.info.density}}</p>

				<p ng-show="item.info.flavor">Flavor: {{item.info.flavor}}</p>

			</div>

			<div class="tab-pane"
			     toggleable
			     active-class="active"
			     id="rate"
			     exclusion-group="details">
				<rating-view data-rate="item.rate"></rating-view>
			</div>

			<div class="tab-pane"
			     toggleable
			     active-class="active"
			     id="comments"
			     exclusion-group="details">
				<blockquote ng-repeat="comment in item.comments">{{comment}}</blockquote>
			</div>

			<div class="tab-pane"
			     toggleable
			     active-class="active"
			     id="ingredients"
			     exclusion-group="details">
				<ul>
					<li ng-repeat="ingredient in item.ingredients">{{ingredient}}</li>
				</ul>
			</div>
		</div>
	</div>
	<drink-buttons item="item" target="item"></drink-buttons>
</div>